@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Viga&display=swap');
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}



.header .header-nav {
    width: 300px;
    
}

.header .header-nav .nav-list {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding: 20px 0;
    background-color: #ebfeff;    
}
.nav-link {
    color: #231223;
    display: flex;
    padding: 8px 10%;
    font-family: 'Viga', sans-serif;
    justify-content: flex-end;
}
.nav-link_in {
    width: 80%;
    border-left: 2px solid #231223bd;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.nav-link_in:hover {
    background-color: #b6b6ee;
    transition: 0.5s;
}
.list-item {
    width: 100%;
    text-align: center;
    overflow: hidden;
}
.list-btn-click{
    cursor: pointer;
}
.list-btn {
    display: flex;
    align-items: center;
    gap: 1em;
    width: 70%;
    margin: 0 auto;
}
.list-arrow {
    margin-left: auto;
    transition: transform .4s;
}
.arrow .list-arrow {
    transform: rotate(90deg);
}
.scroll-list {
    width: 80%;
    margin-left: auto;
    transition: height .5s;
    height: 0;
}